venv/
__pycache__/
*.pyc
.env
data/
data/*.npy
data/*.csv
!data/.gitkeep
.python-version
.vscode/
training/raw_data/
models/asl_lstm_model/
training/models_checkpoints/*.keras
converter_venv/
node_modules/
frontend/node_modules/